.row {
  margin: 0;
  gap: 20px
}

.row > div {
  padding: 0;
  width: calc(25% - 20px)
}

#submit-button {
  padding-left: 60px;
  padding-right: 60px;
}

#detailsModal .modal-content {
  max-height: 90vh;
}

#detailsModal .modal-body {
  overflow: auto;
}

#detailsModal .row {
 align-items: center; 
}

.files-content .content {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.file-preview {
  cursor: pointer;
  position: relative;
  max-height: 316px;
  max-width: 244px;
  overflow: hidden;
}

.file-preview > * {
  transition-duration: 0.2s;
}

.file-preview:hover > *:not(.file-download) {
  opacity: 0.2;
}

.file-preview:hover .file-download {
  display: flex;
}

.file-download {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  top: 0;
}

.file-download p {
  font-size: 24px;
  margin: 0;
  font-weight: bold;
}

.gap-10 {
  gap: 10px
}